I want to know if different models will work differently for different comapnies, thereby potentially undermining the models in general as stock price predictors.

In [1]:
import yfinance
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Now that the modules have been imported let's look at a given stock for the last year.

In [2]:
ticker = yfinance.Ticker('AMZN')
AMZN = ticker.history(interval="1d",
    start="2019-01-01",end="2019-12-31")
AMZN

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-01-02,1465.20,1553.36,1460.93,1539.13,7983100,0,0
2019-01-03,1520.01,1538.00,1497.11,1500.28,6975600,0,0
2019-01-04,1530.00,1594.00,1518.31,1575.39,9182600,0,0
2019-01-07,1602.31,1634.56,1589.19,1629.51,7993200,0,0
2019-01-08,1664.69,1676.61,1616.61,1656.58,8881400,0,0
...,...,...,...,...,...,...,...
2019-12-23,1788.26,1793.00,1784.51,1793.00,2136400,0,0
2019-12-24,1793.81,1795.57,1787.58,1789.21,881300,0,0
2019-12-26,1801.01,1870.46,1799.50,1868.77,6005400,0,0
2019-12-27,1882.92,1901.40,1866.01,1869.80,6186600,0,0
2019-12-30,1874.00,1884.00,1840.62,1846.89,3674700,0,0

For the purpose of this project I will only need to look at the closing and opening prices, each days return for the next trading day, and volume. The others variables like high, low, and dividends should not effect the closing prices and returns like the other variables do.

In [3]:
stocks = ['AMZN','AAPL','MSFT','NVDA','AMD']
returns = pd.DataFrame({})
for t in stocks:
    #name = t
    ticker = yfinance.Ticker(t)
    data = ticker.history(interval="1d",
    start="2010-01-01",end="2019-12-31")
    data['Close_%s' % t] = data['Close']
    data['Open_%s' % t] = data['Open']
    data['Volume_%s' % t] = data['Volume']
    data['Return_%s' % t] = data['Close'].pct_change(1)
    
    returns = returns.append(data['Return_%s' % t])
    returns = returns.append(data['Volume_%s' % t])
    returns = returns.append(data['Close_%s' % t])
    returns = returns.append(data['Open_%s' % t])

In [4]:
returns.head()

,2010-01-04,2010-01-05,2010-01-06,2010-01-07,2010-01-08,2010-01-11,2010-01-12,2010-01-13,2010-01-14,2010-01-15,...,2019-12-16,2019-12-17,2019-12-18,2019-12-19,2019-12-20,2019-12-23,2019-12-24,2019-12-26,2019-12-27,2019-12-30
Return_AMZN,NaN,5.899925e-03,-1.811567e-02,-1.701323e-02,2.707692e-02,-2.404134e-02,-2.271506e-02,1.382018e-02,-1.363179e-02,-1.648999e-03,...,4.696355e-03,1.212406e-02,-3.702545e-03,4.624362e-03,-3.224943e-03,3.638399e-03,-0.002114,4.446655e-02,5.511647e-04,-1.225265e-02
Volume_AMZN,7599900.00,8.851900e+06,7.178800e+06,1.103020e+07,9.830500e+06,8.779400e+06,9.096300e+06,1.072320e+07,9.774900e+06,1.537650e+07,...,3.145200e+06,3.644400e+06,3.351400e+06,2.652800e+06,5.150800e+06,2.136400e+06,881300.000000,6.005400e+06,6.186600e+06,3.674700e+06
Close_AMZN,133.90,1.346900e+02,1.322500e+02,1.300000e+02,1.335200e+02,1.303100e+02,1.273500e+02,1.291100e+02,1.273500e+02,1.271400e+02,...,1.769210e+03,1.790660e+03,1.784030e+03,1.792280e+03,1.786500e+03,1.793000e+03,1789.210000,1.868770e+03,1.869800e+03,1.846890e+03
Open_AMZN,136.25,1.334300e+02,1.346000e+02,1.320100e+02,1.305600e+02,1.326200e+02,1.289900e+02,1.279000e+02,1.291400e+02,1.291800e+02,...,1.767000e+03,1.778010e+03,1.795020e+03,1.780500e+03,1.799620e+03,1.788260e+03,1793.810000,1.801010e+03,1.882920e+03,1.874000e+03
Return_AAPL,NaN,3.030303e-03,-1.661631e-02,-1.536098e-03,6.153846e-03,-9.174312e-03,-1.080247e-02,1.404056e-02,-6.153846e-03,-1.547988e-02,...,1.712529e-02,1.870773e-03,-2.298190e-03,1.007774e-03,-2.157342e-03,1.628711e-02,0.000993,1.983565e-02,-4.167824e-04,5.976372e-03

The dataframe has what is needed, it just needs to be transposed.

In [5]:
returns = returns.T

In [6]:
returns = returns.reset_index()
returns = returns.rename(columns={'index': 'Date'})
returns

,Date,Return_AMZN,Volume_AMZN,Close_AMZN,Open_AMZN,Return_AAPL,Volume_AAPL,Close_AAPL,Open_AAPL,Return_MSFT,...,Close_MSFT,Open_MSFT,Return_NVDA,Volume_NVDA,Close_NVDA,Open_NVDA,Return_AMD,Volume_AMD,Close_AMD,Open_AMD
0,2010-01-04,NaN,7599900.0,133.90,136.25,NaN,493729600.0,6.60,6.59,NaN,...,24.17,23.91,NaN,20005100.0,17.00,17.02,NaN,18748700.0,9.70,9.79
1,2010-01-05,0.005900,8851900.0,134.69,133.43,0.003030,601904800.0,6.62,6.62,0.000414,...,24.18,24.09,0.014706,18216200.0,17.25,16.94,0.001031,22145700.0,9.71,9.71
2,2010-01-06,-0.018116,7178800.0,132.25,134.60,-0.016616,552160000.0,6.51,6.62,-0.006203,...,24.03,24.11,0.006377,16229200.0,17.36,17.24,-0.014418,18643400.0,9.57,9.68
3,2010-01-07,-0.017013,11030200.0,130.00,132.01,-0.001536,477131200.0,6.50,6.54,-0.010404,...,23.78,23.92,-0.019585,13694800.0,17.02,17.27,-0.010449,26806800.0,9.47,9.51
4,2010-01-08,0.027077,9830500.0,133.52,130.56,0.006154,447610800.0,6.54,6.49,0.006728,...,23.94,23.65,0.002350,11954200.0,17.06,16.89,-0.004224,13752800.0,9.43,9.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2510,2019-12-23,0.003638,2136400.0,1793.00,1788.26,0.016287,98572000.0,70.51,69.65,0.000000,...,156.17,156.87,-0.002301,8876500.0,238.50,240.19,0.029672,55886500.0,45.46,44.58
2511,2019-12-24,-0.002114,881300.0,1789.21,1793.81,0.000993,48478800.0,70.58,70.68,-0.000192,...,156.14,156.24,-0.000839,3471600.0,238.30,237.88,0.023757,44432200.0,46.54,46.10
2512,2019-12-26,0.044467,6005400.0,1868.77,1801.01,0.019836,93121200.0,71.98,70.72,0.008198,...,157.42,156.32,0.002392,4571300.0,238.87,238.44,0.001934,57562800.0,46.63,46.99
2513,2019-12-27,0.000551,6186600.0,1869.80,1882.92,-0.000417,146266000.0,71.95,72.28,0.001842,...,157.71,158.19,-0.009712,6366100.0,236.55,239.48,-0.009650,36581300.0,46.18,46.85
2514,2019-12-30,-0.012253,3674700.0,1846.89,1874.00,0.005976,144114400.0,72.38,71.87,-0.008623,...,156.35,157.74,-0.019193,6451400.0,232.01,235.67,-0.014292,41149700.0,45.52,46.14

Now the frame is ready for exploratory anaylsis and can be exported to a csv.

In [7]:
returns.to_csv('returns.csv')